.down-section {
    padding: 40px 0;
    border-top: 1px solid rgb(218, 218, 218);
    display: flex;
    position: relative;
    
    @media screen and (max-width: 700px) {
        display: block;
    }

    &::before {
        content: "";
        position: absolute;
        left: 50%; /* Positionne l'élément au milieu horizontalement */
        top: 50%; /* Positionne l'élément au milieu verticalement */
        transform: translate(-50%, -50%); /* Centre l'élément */
        width: 0.8px; /* Largeur de la ligne */
        height: 100%; /* Hauteur de la ligne */
        background: rgb(218, 218, 218);

        @media screen and (max-width: 700px) {
                display: none;
        }
    }

    h3 {
        font-size: 0.8rem;
        text-align: center;
        font-weight: 600;
        color: $gray;
        padding-bottom: 20px;
    }
    h2 {
        text-align: center;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding-bottom: 20px;
        line-height: 25px;
        width: 100%;
        max-width: 1100px;

        @media screen and (max-width: 475px) {
            font-size: 0.8rem;
        }
    }
    img {
        width: 100%;
        padding-bottom: 30px;
    }
    p {
        font-size: 0.7rem;
        padding-bottom: 30px;
        line-height: 30px;
    }

    .left-part {
        width: 50%;
        margin: 0 40px;
        // pour la barre verticale, je pouvais juste faire border-right 
        // border-right: 1px solid rgb(218, 218, 218);
        @media screen and (max-width: 700px) {
            width: 70%;
            margin: auto;
            padding-bottom: 50px;
        }
    }

    .right-part {
        width: 50%;
        margin: 0 40px;

        @media screen and (max-width: 700px) {
            width: 70%;
            margin: auto;
        }
    }
}