.form-part {
    background: rgb(229, 229, 229);
    width: 70%;
    max-width: 1100px;
    margin: 0 auto 80px;
    // padding: 40px 0;
    display: flex;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background: rgb(197, 197, 197);
        height: 100%;
        width: 0.8px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    form {
        width: 50%;
        padding: 40px;

        .form-grid {
            display: flex;
            flex-direction: column;

            div {
                padding-bottom: 15px;
            }

            label {
                font-size: 0.6rem;
                font-weight: 500;
                letter-spacing: 1px;
                line-height: 20px;
                color: #787878;
                text-transform: uppercase;
              }

            textarea {
                height: 150px;
                resize: none;
              }
              input[type="text"],
              textarea {
                outline: none;
                width: 100%;
                border-radius: 4px;
                padding: 5px;
                border: 1px solid #ccc;
                background: transparent;
                transition: 0.2s ease;
              }
              input[type="text"]:focus,
              textarea:focus {
                border: 1px solid skyblue;
              }
        }

        .button {
            margin-top: 15px;
            border: 1px solid #787878;
            color: #787878;

            &:hover {
                color: rgb(245, 245, 245);
                background: #787878;
            }
        }

    }

    .right-form {
        width: 50%;
        display: grid;

        div {
            display: grid;
            grid-template-columns: 30% 60%;
            align-items: center;
            position: relative;
            padding: 0 30px;

            &::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                background: #ccc;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
            }

            h2 {
                font-size: 0.6rem;
                font-weight: 500;
                letter-spacing: 1px;
                color: #787878;
                text-transform: uppercase;
            }

            p {
                font-size: 0.6rem;
                font-weight: 500;
                letter-spacing: 1px;
                color: #787878;
                text-align: left;
            }
        }

        ul {
            display: flex;
            width: 70%;
            justify-content: space-between;
            text-align: center;
            li {

                a {
                    color: $black;
                    font-size: 0.8rem;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #ccc;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    transition: 0.3s;

                    &:hover {
                        color: $white;
                        background: $black;
                    }
                }
            }
        }

        .address {
            p {
                line-height: 20px;
            }
        }
    }
}