header {
    min-height: 100vh;
    position: relative;

    .container {
        h1 {
            text-align: center;
            font-size: 3.5rem;
            color: $white;
            text-transform: uppercase; 
            letter-spacing: 7px;
            width: 40%;
            padding-top: 200px;
            margin: 0 auto 30px;

            @media screen and (max-width: 1290px) {
                width: 40%;
                font-size: 3rem;
            }

            @media screen and (max-width: 1242px) {
                 width: 42%;
                 font-size: 2.8rem;
            }

            @media screen and (max-width: 1185px) {
                 width: 50%;
                 font-size: 2.5rem;
            }

            @media screen and (max-width: 865px) {
                width: 70%;
                font-size: 2.4rem;
            }
            @media screen and (max-width: 604px) {
                width: 84%;
                font-size: 2.2rem;
            }
            @media screen and (max-width: 475px) {
                width: 95%;
                font-size: 1.5rem;
            }
         }
         
         p {
             color: $white;
             font-size: 0.7rem;
             font-style: italic;
             text-align: center;
             margin-bottom: 50px;


             @media screen and (max-width: 475px) {
                font-size: 0.6rem;
                width: 80%;
                margin: 0 auto 50px;
            }
         }
        
         a {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: 1px solid $white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.9rem;
            margin: auto;
            transition: 0.3s;
        
            &:hover {
                background: $white;
                color: $black;
            }
         }
    }


}