header {
    min-height: 100vh;
    color: $white;
    position: relative;

    .container {
        // ça va se centrer parceque la nav est en position absolute 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        opacity: 0;
        transform: translateY(40px);
        animation: headerAnim 1.5s ease forwards;

        @keyframes headerAnim {
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }
        h1 {
            text-align: center;
            font-size: 3.5rem;
            @include title; 
            letter-spacing: 7px;
            width: 100%;

            @media screen and (max-width: 640px) {
                font-size: 2.5rem;
            }
            @media screen and (max-width: 480px) {
                font-size: 2rem;
            }
            @media screen and (max-width: 390px) {
                font-size: 1.5rem;
            }
         }
         
         p {
             font-size: 0.7rem;
             font-style: italic;
             text-align: center;
             width: 80%;
             margin: 40px auto 60px;


             @media screen and (max-width: 475px) {
                // font-size: 0.6rem;
                // margin: 0 auto 50px;
            }
         }
        
         a {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            border: 1px solid $white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.9rem;
            margin: 0 auto;
            transition: 0.3s;
        
            &:hover {
                background: $white;
                color: $black;
            }
         }
    }

    nav {
        background: rgba(255, 255, 255, 0.34);
        width: 80%;
        height: 65px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        z-index: 100;
    
        @media screen and (max-width: 475px) {
            width: 80%;
        }

        ul {
            display: flex;
            align-items: center;
        }
        .list {
            // list, quand je te survole, les li qui ne sont pas survolés, je voudrais que tu leur applique ceci 
            &:hover li:not(:hover) {
                background: none;
                color: $white;
            }
                li {
                    text-transform: uppercase;
                    color: $white;
                    font-size: 0.8rem;
                    padding: 0 15px;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    font-weight: 800;
                    cursor: pointer;
                    transition: 0.1s ease-in-out;

                    &:first-child {
                        background: rgb(229, 229, 229);
                        color: $black;
                    }
    
                    &:hover
                     {
                        background: rgb(229, 229, 229);
                        color: $black;
                    }
    
                    @media screen and (max-width: 475px) {
                        font-size: 0.6rem;
                        text-align: center;
                    }
    
                }
        }
    
        .icons {
            font-size: 1.1rem;
            min-width: 100px;
            width: 25%;
            max-width: 300px;
            justify-content: space-around;
            margin-right: 10px;
            li {
                color: $white;
                cursor: pointer;
                transition: 0.15s ease-in-out;
    
                &:hover {
                    transform: scale(1.3);
                }
            }
    
            @media screen and (max-width: 475px) {
                display: none;
            }
        }
    }

}