.up-section {
    width: 80%;
    padding: 40px 0 50px;
    margin: 0 auto;

    h3 {
        text-align: center;
        font-size: 0.9rem;
        font-weight: 600;
        color: $gray;
        padding-bottom: 50px;
        position: relative;

        &::before {
            content: "";
            height: 2px;
            background: rgb(218, 218, 218);
            width: 40%;
            position: absolute;
            top: 10px;
            left: 50px;
            transform: translateX(-50px);
        }

        &::after {
            content: "";
            height: 2px;
            background: rgb(218, 218, 218);
            width: 40%;
            position: absolute;
            top: 10px;
            right: -50px;
            transform: translateX(-50px);
        }

        @media screen and (max-width: 1040px) {

            &::before {
                width: 35%;
            }
            &::after {
                width: 35%;
            }
        }
        @media screen and (max-width: 780px) {

            &::before {
                width: 30%;
            }
            &::after {
                width: 30%;
            }
        }
        @media screen and (max-width: 570px) {

            &::before {
                width: 25%;
            }
            &::after {
                width: 25%;
            }
        }
        @media screen and (max-width: 475px) {
            font-size: 0.7rem;

            &::before {
                width: 20%;
                top: 8px;
            }
            &::after {
                width: 20%;
                top: 8px;
            }
        }
    }
    h2 {
        text-align: center;
        font-size: 3rem;
        // width: 65%;
        // margin: 0 auto;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding-bottom: 40px;

        @media screen and (max-width: 1040px) {
            font-size: 2.5rem;
        }

        @media screen and (max-width: 640px) {
            font-size: 2rem;
        }
        @media screen and (max-width: 540px) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: 373px) {
            font-size: 1.2rem;
        }
    }
    p {
        text-align: center;
        color: $gray;
        font-size: 0.8rem;
        font-style: italic;
        line-height: 30px;
        width: 60%;
        margin: 0 auto;
        font-weight: 600;
        padding-bottom: 40px;

        @media screen and (max-width: 475px) {
            font-size: 0.7rem;
            width: 70%;
        }
    }

    img {
        width: 100%;
        padding-bottom: 40px;
    }
}