// Police Inter 
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/static/Inter_18pt-ExtraBold.ttf);
}

// Police Merriweather 
@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}

$font1: Inter, sans-serif;
$font2: Merriweather, serif;

// Variables
$black: rgb(18, 18, 18);
$gray: rgb(73, 73, 73);
$white: rgb(246, 246, 246);

@mixin title {
    font-family: $font1;
    letter-spacing: 2px;
    text-transform: uppercase;
}
// Pour la mixin, finalement je ne l'ai pas incorporé, mais je devais le faire, je devrais mettre include title 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// pour quequand on scroll, ça scroll de façon plus belle et pro 
html {
    scroll-behavior: smooth;
}

a,
a:visited {
    text-decoration: none;
    color: $white;
}

li {
    list-style: none;
}

h3,
p {
    font-family: $font2;
}

body {
    min-height: 100vh;
    font-family: $font1;
    background: url(/assets/img/bg.jpg) center/cover fixed;
    max-width: 1300px;
    margin: 0 auto;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: black;
        // les keyframes sont là pour les animations 
        animation: animBefore 1.5s ease forwards;
        // animation-delay, c'est le temps qui va se passer avant que l'animation ne commence 
        animation-delay: 0.15s;

        @keyframes animBefore {
            // to : elle va jusqu'à  
            to {
                opacity: 0;
            }
        }
    }
}

.first-section button {
    display: block;
    margin: 0 auto;
}


