// Police Inter 
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/static/Inter_18pt-ExtraBold.ttf);
}

// Police Merriweather 
@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}

$font1: Inter, sans-serif;
$font2: Merriweather, serif;

// Variables
$black: rgb(18, 18, 18);
$gray: rgb(73, 73, 73);
$white: rgb(246, 246, 246);

@mixin title {
    font-family: $font1;
    letter-spacing: 2px;
    text-transform: uppercase;
}
// Pour la mixin, finalement je ne l'ai pas incorporé, mais je devais le faire, je devrais mettre include title 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $white;
}

li {
    list-style: none;
}

h3,
p {
    font-family: $font2;
}

body {
    min-height: 100vh;
    font-family: $font1;
    background: url(/assets/img/bg.jpg) center/cover fixed;
}

.first-section button {
    display: block;
    margin: 0 auto;
}


