@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/static/Inter_18pt-ExtraBold.ttf);
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
a:visited {
  text-decoration: none;
  color: rgb(246, 246, 246);
}

li {
  list-style: none;
}

h3,
p {
  font-family: Merriweather, serif;
}

body {
  min-height: 100vh;
  font-family: Inter, sans-serif;
  background: url(/assets/img/bg.jpg) center/cover fixed;
  max-width: 1300px;
  margin: 0 auto;
}
body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  -webkit-animation: animBefore 1.5s ease forwards;
          animation: animBefore 1.5s ease forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
@-webkit-keyframes animBefore {
  to {
    opacity: 0;
  }
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

.first-section button {
  display: block;
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
  background: none;
  outline: none;
  border: 1px solid rgb(18, 18, 18);
  font-size: 0.6rem;
  font-weight: 800;
  color: rgb(18, 18, 18);
  height: 45px;
  width: 170px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background: rgb(18, 18, 18);
  color: rgb(246, 246, 246);
}

header {
  min-height: 100vh;
  color: rgb(246, 246, 246);
  position: relative;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-animation: headerAnim 1.5s ease forwards;
          animation: headerAnim 1.5s ease forwards;
}
@-webkit-keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
header .container h1 {
  text-align: center;
  font-size: 3.5rem;
  font-family: Inter, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 7px;
  width: 100%;
}
@media screen and (max-width: 640px) {
  header .container h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  header .container h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 390px) {
  header .container h1 {
    font-size: 1.5rem;
  }
}
header .container p {
  font-size: 0.7rem;
  font-style: italic;
  text-align: center;
  width: 80%;
  margin: 40px auto 60px;
}
header .container a {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgb(246, 246, 246);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .container a:hover {
  background: rgb(246, 246, 246);
  color: rgb(18, 18, 18);
}
header nav {
  background: rgba(255, 255, 255, 0.34);
  width: 80%;
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}
@media screen and (max-width: 475px) {
  header nav {
    width: 80%;
  }
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .list:hover li:not(:hover) {
  background: none;
  color: rgb(246, 246, 246);
}
header nav .list li {
  text-transform: uppercase;
  color: rgb(246, 246, 246);
  font-size: 0.8rem;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-weight: 800;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
header nav .list li:first-child {
  background: rgb(229, 229, 229);
  color: rgb(18, 18, 18);
}
header nav .list li:hover {
  background: rgb(229, 229, 229);
  color: rgb(18, 18, 18);
}
@media screen and (max-width: 475px) {
  header nav .list li {
    font-size: 0.7rem;
    text-align: center;
  }
}
@media screen and (max-width: 360px) {
  header nav .list li {
    font-size: 0.6rem;
    text-align: center;
  }
}
header nav .icons {
  font-size: 1.1rem;
  min-width: 100px;
  width: 25%;
  max-width: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 10px;
}
header nav .icons li {
  color: rgb(246, 246, 246);
  cursor: pointer;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
header nav .icons li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
@media screen and (max-width: 519px) {
  header nav .icons {
    display: none;
  }
}

.first-section {
  background: rgb(246, 246, 246);
  width: 80%;
  max-width: 1100px;
  margin: 0 auto 40px;
}

.up-section {
  width: 80%;
  margin: 0 auto;
}
.up-section h3 {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(73, 73, 73);
  padding: 70px 0;
  position: relative;
}
.up-section h3::before, .up-section h3::after {
  content: "";
  height: 1px;
  background: rgb(218, 218, 218);
  width: 37%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 700px) {
  .up-section h3::before, .up-section h3::after {
    width: 30%;
  }
}
@media screen and (max-width: 400px) {
  .up-section h3::before, .up-section h3::after {
    width: 25%;
  }
}
.up-section h3::before {
  left: 0;
}
.up-section h3::after {
  right: 0;
}
@media screen and (max-width: 475px) {
  .up-section h3 {
    font-size: 0.8rem;
  }
}
.up-section h2 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media screen and (max-width: 1040px) {
  .up-section h2 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 640px) {
  .up-section h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 540px) {
  .up-section h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 373px) {
  .up-section h2 {
    font-size: 1.2rem;
  }
}
.up-section p {
  text-align: center;
  color: rgb(73, 73, 73);
  font-size: 0.8rem;
  font-style: italic;
  line-height: 30px;
  width: 60%;
  margin: 30px auto;
  font-weight: 600;
}
@media screen and (max-width: 475px) {
  .up-section p {
    font-size: 0.7rem;
    width: 70%;
  }
}
.up-section img {
  width: 100%;
}
.up-section .button {
  margin: 50px auto 90px;
}

.down-section {
  padding: 40px 0;
  border-top: 1px solid rgb(218, 218, 218);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media screen and (max-width: 700px) {
  .down-section {
    display: block;
  }
}
.down-section::before {
  content: "";
  position: absolute;
  left: 50%; /* Positionne l'élément au milieu horizontalement */
  top: 50%; /* Positionne l'élément au milieu verticalement */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); /* Centre l'élément */
  width: 0.8px; /* Largeur de la ligne */
  height: 100%; /* Hauteur de la ligne */
  background: rgb(218, 218, 218);
}
@media screen and (max-width: 700px) {
  .down-section::before {
    display: none;
  }
}
.down-section h3 {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
  color: rgb(73, 73, 73);
  padding-bottom: 20px;
}
.down-section h2 {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 20px;
  line-height: 25px;
  width: 100%;
  max-width: 1100px;
}
@media screen and (max-width: 475px) {
  .down-section h2 {
    font-size: 0.8rem;
  }
}
.down-section img {
  width: 100%;
  padding-bottom: 30px;
}
.down-section p {
  font-size: 0.7rem;
  padding-bottom: 30px;
  line-height: 30px;
}
.down-section .left-part {
  width: 50%;
  margin: 0 40px;
}
@media screen and (max-width: 700px) {
  .down-section .left-part {
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
  }
}
.down-section .right-part {
  width: 50%;
  margin: 0 40px;
}
@media screen and (max-width: 700px) {
  .down-section .right-part {
    width: 70%;
    margin: auto;
  }
}

.form-part {
  background: rgb(229, 229, 229);
  width: 80%;
  max-width: 1100px;
  margin: 0 auto 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.form-part::before {
  content: "";
  position: absolute;
  background: rgb(197, 197, 197);
  height: 100%;
  width: 0.8px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 700px) {
  .form-part::before {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .form-part {
    width: 80%;
    display: block;
  }
}
@media screen and (max-width: 380px) {
  .form-part {
    min-height: 100vh;
  }
}
.form-part form {
  width: 50%;
  padding: 40px;
}
@media screen and (max-width: 700px) {
  .form-part form {
    width: 100%;
  }
}
.form-part form .form-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-part form .form-grid div {
  padding-bottom: 15px;
}
.form-part form .form-grid label {
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 20px;
  color: #787878;
  text-transform: uppercase;
}
.form-part form .form-grid textarea {
  height: 150px;
  resize: none;
}
.form-part form .form-grid input[type=text],
.form-part form .form-grid textarea {
  outline: none;
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #ccc;
  background: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.form-part form .form-grid input[type=text]:focus,
.form-part form .form-grid textarea:focus {
  border: 1px solid skyblue;
}
.form-part form .button {
  margin-top: 15px;
  border: 1px solid #787878;
  color: #787878;
}
.form-part form .button:hover {
  color: rgb(245, 245, 245);
  background: #787878;
}
.form-part .right-form {
  width: 50%;
  display: grid;
}
@media screen and (max-width: 700px) {
  .form-part .right-form {
    width: 100%;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 380px) {
  .form-part .right-form {
    width: 100%;
    grid-template-rows: repeat(4, 1fr);
  }
}
.form-part .right-form div {
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 30px;
}
.form-part .right-form div::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: #ccc;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}
@media screen and (max-width: 380px) {
  .form-part .right-form div {
    padding: 20px 30px;
  }
}
.form-part .right-form div h2 {
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #787878;
  text-transform: uppercase;
}
.form-part .right-form div p {
  font-size: 0.6rem;
  font-weight: 500;
  color: #787878;
}
@media screen and (max-width: 380px) {
  .form-part .right-form div p {
    font-size: 0.5rem;
  }
}
.form-part .right-form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
@media screen and (max-width: 380px) {
  .form-part .right-form ul {
    width: 100%;
  }
}
.form-part .right-form ul li a {
  color: rgb(18, 18, 18);
  font-size: 0.8rem;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form-part .right-form ul li a:hover {
  color: rgb(246, 246, 246);
  background: rgb(18, 18, 18);
}
@media screen and (max-width: 420px) {
  .form-part .right-form ul li a {
    width: 25px;
    height: 25px;
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 380px) {
  .form-part .right-form ul li a {
    width: 25px;
    height: 25px;
    font-size: 0.7rem;
  }
}
.form-part .right-form .address p {
  line-height: 20px;
}/*# sourceMappingURL=index.css.map */