@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/static/Inter_18pt-ExtraBold.ttf);
}
@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather/Merriweather-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(246, 246, 246);
}

li {
  list-style: none;
}

h3,
p {
  font-family: "Merriweather", sans-serif;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: url(/assets/img/bg.jpg) center/cover fixed;
}

.first-section button {
  display: block;
  margin: 0 auto;
}

.button {
  text-transform: uppercase;
  background: transparent;
  outline: none;
  border: 1px solid rgb(18, 18, 18);
  font-size: 0.6rem;
  font-weight: 800;
  color: rgb(18, 18, 18);
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button:hover {
  background: rgb(18, 18, 18);
  color: rgb(246, 246, 246);
}

header {
  min-height: 100vh;
  position: relative;
}
header .container h1 {
  text-align: center;
  font-size: 3.5rem;
  color: rgb(246, 246, 246);
  text-transform: uppercase;
  letter-spacing: 7px;
  width: 40%;
  padding-top: 200px;
  margin: 0 auto 30px;
}
@media screen and (max-width: 1290px) {
  header .container h1 {
    width: 40%;
    font-size: 3rem;
  }
}
@media screen and (max-width: 1242px) {
  header .container h1 {
    width: 42%;
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 1185px) {
  header .container h1 {
    width: 50%;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 865px) {
  header .container h1 {
    width: 70%;
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 604px) {
  header .container h1 {
    width: 84%;
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 475px) {
  header .container h1 {
    width: 95%;
    font-size: 1.5rem;
  }
}
header .container p {
  color: rgb(246, 246, 246);
  font-size: 0.7rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 475px) {
  header .container p {
    font-size: 0.6rem;
    width: 80%;
    margin: 0 auto 50px;
  }
}
header .container a {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgb(246, 246, 246);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .container a:hover {
  background: rgb(246, 246, 246);
  color: rgb(18, 18, 18);
}

.container h1 {
  text-align: center;
  font-size: 3.5rem;
  color: rgb(246, 246, 246);
  text-transform: uppercase;
  letter-spacing: 7px;
  width: 40%;
  padding-top: 200px;
  margin: 0 auto 30px;
}
.container p {
  color: rgb(246, 246, 246);
  font-family: "Merriweather";
  font-size: 0.7rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
}
.container a {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgb(246, 246, 246);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container a:hover {
  background: rgb(246, 246, 246);
  color: rgb(18, 18, 18);
}

nav {
  background: rgba(255, 255, 255, 0.34);
  width: 70%;
  max-width: 1100px;
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}
@media screen and (max-width: 475px) {
  nav {
    width: 80%;
  }
}
nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .list .active {
  background: rgb(229, 229, 229);
  color: rgb(18, 18, 18);
}
nav .list li {
  text-transform: uppercase;
  color: rgb(246, 246, 246);
  font-size: 0.8rem;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-weight: 800;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
nav .list li:hover {
  background: rgb(229, 229, 229);
  color: rgb(18, 18, 18);
}
@media screen and (max-width: 475px) {
  nav .list li {
    font-size: 0.6rem;
    text-align: center;
  }
}
nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .icons li {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}
nav .icons li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
@media screen and (max-width: 475px) {
  nav .icons {
    display: none;
  }
}

.first-section {
  background: rgb(246, 246, 246);
  width: 70%;
  max-width: 1100px;
  margin: 0 auto 40px;
}
@media screen and (max-width: 475px) {
  .first-section {
    width: 80%;
    position: relative;
  }
  .first-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgb(218, 218, 218);
    top: 43.1%;
  }
}

.up-section {
  width: 80%;
  padding: 40px 0 50px;
  margin: 0 auto;
}
.up-section h3 {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(73, 73, 73);
  padding-bottom: 50px;
  position: relative;
}
.up-section h3::before {
  content: "";
  height: 2px;
  background: rgb(218, 218, 218);
  width: 40%;
  position: absolute;
  top: 10px;
  left: 50px;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}
.up-section h3::after {
  content: "";
  height: 2px;
  background: rgb(218, 218, 218);
  width: 40%;
  position: absolute;
  top: 10px;
  right: -50px;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}
@media screen and (max-width: 475px) {
  .up-section h3 {
    font-size: 0.7rem;
  }
  .up-section h3::before {
    width: 20%;
  }
  .up-section h3::after {
    width: 20%;
  }
}
.up-section h2 {
  text-align: center;
  font-size: 3rem;
  width: 65%;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 40px;
}
@media screen and (max-width: 475px) {
  .up-section h2 {
    font-size: 1.2rem;
    width: 90%;
  }
}
.up-section p {
  text-align: center;
  color: rgb(73, 73, 73);
  font-size: 0.8rem;
  font-style: italic;
  line-height: 30px;
  width: 60%;
  margin: 0 auto;
  font-weight: 600;
  padding-bottom: 40px;
}
@media screen and (max-width: 475px) {
  .up-section p {
    font-size: 0.7rem;
    width: 70%;
  }
}
.up-section img {
  width: 100%;
  padding-bottom: 40px;
}

.down-section {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.down-section::before {
  content: "";
  position: absolute;
  left: 50%; /* Positionne l'élément au milieu horizontalement */
  top: 50%; /* Positionne l'élément au milieu verticalement */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); /* Centre l'élément */
  width: 0.8px; /* Largeur de la ligne */
  height: 100%; /* Hauteur de la ligne */
  background: rgb(218, 218, 218);
}
.down-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgb(218, 218, 218);
  top: 0;
}
@media screen and (max-width: 475px) {
  .down-section {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .down-section::before {
    background: none;
  }
  .down-section::after {
    background: none;
  }
}
.down-section h3 {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 600;
  color: rgb(73, 73, 73);
  padding-bottom: 20px;
}
.down-section h2 {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 20px;
  line-height: 25px;
}
.down-section img {
  width: 100%;
  padding-bottom: 30px;
}
.down-section p {
  font-size: 0.7rem;
  padding-bottom: 30px;
}
.down-section .left-part {
  width: 50%;
  margin: 0 40px;
}
.down-section .left-part h2 {
  width: 40%;
  margin: 0 auto;
}
@media screen and (max-width: 475px) {
  .down-section .left-part h2 {
    width: 80%;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 475px) {
  .down-section .left-part {
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
  }
  .down-section .left-part img {
    width: 100%;
    padding-bottom: 40px;
  }
}
.down-section .right-part {
  width: 50%;
  margin: 0 40px;
}
.down-section .right-part h2 {
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 475px) {
  .down-section .right-part h2 {
    width: 90%;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 475px) {
  .down-section .right-part {
    width: 100%;
    margin: auto;
  }
  .down-section .right-part img {
    width: 100%;
    padding-bottom: 40px;
  }
}

.form-part {
  background: rgb(229, 229, 229);
  width: 70%;
  max-width: 1100px;
  margin: 0 auto 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.form-part::before {
  content: "";
  position: absolute;
  background: rgb(197, 197, 197);
  height: 100%;
  width: 0.8px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.form-part form {
  width: 50%;
  padding: 40px;
}
.form-part form .form-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-part form .form-grid div {
  padding-bottom: 15px;
}
.form-part form .form-grid label {
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 20px;
  color: #787878;
  text-transform: uppercase;
}
.form-part form .form-grid textarea {
  height: 150px;
  resize: none;
}
.form-part form .form-grid input[type=text],
.form-part form .form-grid textarea {
  outline: none;
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #ccc;
  background: transparent;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.form-part form .form-grid input[type=text]:focus,
.form-part form .form-grid textarea:focus {
  border: 1px solid skyblue;
}
.form-part form .button {
  margin-top: 15px;
  border: 1px solid #787878;
  color: #787878;
}
.form-part form .button:hover {
  color: rgb(245, 245, 245);
  background: #787878;
}
.form-part .right-form {
  width: 50%;
  display: grid;
}
.form-part .right-form div {
  display: grid;
  grid-template-columns: 30% 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 30px;
}
.form-part .right-form div::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: #ccc;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}
.form-part .right-form div h2 {
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #787878;
  text-transform: uppercase;
}
.form-part .right-form div p {
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #787878;
  text-align: left;
}
.form-part .right-form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.form-part .right-form ul li a {
  color: rgb(18, 18, 18);
  font-size: 0.8rem;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form-part .right-form ul li a:hover {
  color: rgb(246, 246, 246);
  background: rgb(18, 18, 18);
}
.form-part .right-form .address p {
  line-height: 20px;
}/*# sourceMappingURL=index.css.map */